/* Estilo geral */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Code Pro", monospace;
}

body{
    background-color: #FFFFFF;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

/* Estilo do cabeçalho */
header{
    padding: 40px 4%;
    background-color: #C53B63;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #FFFFFF; 
}

header img{
    width: 200px;
    height: 60px;
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

header .btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #e36e36;
    border: 0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    cursor: pointer;
    transition: .3s;
}

header .btn-contato button:hover{
    background-color: #e84412;
    transform: translateY(-5px);
}

/* font-family: "Source Code Pro", monospace; */

/* Estilo do rodapé */
/* Estilo do rodapé */

footer {
    padding: 60px 4%;
    background-color: #C53B63;
    box-shadow: 0px -5px 20px rgba(136, 3, 165, 0.849); 
    border-top: 2px solid #e36e36; 
}

footer .interface {
    display: flex;
    flex-direction: column;
    gap: 30px; 
}

footer img{
    width: 200px;
    height: 60px;
}

.linha-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.midia-social a {
    color: #FFFFFF;
    font-size: 28px;
    margin-left: 20px;
    transition: .3s;
    display: inline-block;
}

/* Efeitos especiais */
.midia-social a:hover {
    color: #e36e36;
    transform: translateY(-5px);
}

/* Divisória */
.contato-footer {
    text-align: center;
    border-top: 1px solid #e6c7e1; 
    padding-top: 20px;
}

.contato-footer p {
    color: #FFFFFF;
}

.contato-footer p i {
    color: #e6c7e1;
    margin-right: 10px;
}

.contato-footer a {
    color: #e6c7e1;
    text-decoration: none;
    font-size: 24px;
}

.contato-footer a:hover {
    text-decoration: wavy;
}